<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Chatbot</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body>

<div class="wrapper">

    <div class="title">Simple Online chatbot</div>

    <div class="form">

        <div class="bot-inbox inbox">
            <div class="icon">
                <span class="material-symbols-sharp">person</span>
            </div>
            <div class="msg-header">
                <p>Hello there, how can I help you?</p>
                <small>date</small>
            </div>
        </div>

        <div class="user-inbox inbox">
            <div class="msg-header">
                <p>Hi I'm a message sender</p>
                <small>date</small>
            </div>
        </div>

        <div class="bot-inbox inbox">
            <div class="icon">
                <span class="material-symbols-sharp">person</span>
            </div>
            <div class="msg-header">
                <p>Hello there, how can I help you?</p>
                <small>date</small>
            </div>
        </div>

        <div class="user-inbox inbox">
            <div class="msg-header">
                <p>Hi I'm a message sender</p>
                <small>date</small>
            </div>
        </div>

        <div class="bot-inbox inbox">
            <div class="icon">
                <span class="material-symbols-sharp">person</span>
            </div>
            <div class="msg-header">
                <p>Hello there, how can I help you?</p>
                <small>date</small>
            </div>
        </div>

        <div class="user-inbox inbox">
            <div class="msg-header">
                <p>Hi I'm a message sendersendersendersendersendersendersendersender</p>
                <small>date</small>
            </div>
        </div>

        <div class="bot-inbox inbox">
            <div class="icon">
                <span class="material-symbols-sharp">person</span>
            </div>
            <div class="msg-header">
                <p>Hello there, how can I help you?</p>
                <small>date</small>
            </div>
        </div>

        <div class="user-inbox inbox">
            <div class="msg-header">
                <p>Hi I'm a message sender</p>
                <small>date</small>
            </div>
        </div>

    </div>

    <div class="typing-field">
        <div class="input-data">
            <input type="text" placeholder="Type something here..." required>
            <button class="material-symbols-sharp">send</button>
        </div>
    </div>

</div>

</body>
</html>